.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f95b3d, #ff7851);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.filter-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 60px;
  margin: 50px;
  margin-top: 100px;
}

.explanation{
  width: 400px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 25px;
}

.movie-items {
  background-color: #f9f9f9;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}

.movie-poster {
  width: 189px;
  height: 282px;
  margin: 15px;
  box-shadow: 3px 8px 6px #7b5c56;
}

.movie-info {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0;
  max-height: 282px;
  max-width: 440px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 5px 10px;
}

.movie-title {
  text-align: start;
  color: #f95b3d;
  font-size: 20px;
}

.movie-overview,
.movie-year {
  font-size: 15px;
}

.notfound-info {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 7rem;
  font-size: 35px;
}
