.navbar {
  background-color: rgb(255, 255, 255);
  height: auto;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-navbar {
  height: 50px;
  padding: 0;
  width: auto;
}

.homepage {
  display: flex;
  justify-content: start;
}

.movie-food i {
  padding: 10px;
  color: #f95b3d;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  align-content: flex-start;
}

button {
  background:none;
  border:none;
}