.body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom, #f95b3d, #ff7851);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.title-page {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.filter-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 60px;
  margin: 50px;
  margin-top: 100px;
}

.filters {
  display: flex;
}

.filter-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5px;
}

.filter-label {
  color: #fff;
  text-align: left;
  margin-top: 20px;
}

.explanation {
  width: 400px;
  height: auto;
  color: #fff;
  font-size: 25px;
  text-align: right;
  margin-top: 30px;
  margin: 50px;
}

.food-items {
  background-color: #f2f1f1;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}

.food-info {
  text-align: start;
  color: #f95b3d;
  font-size: 40px;
}

.food-img {
  width: auto;
  height: 200px;
  margin: 15px;
  box-shadow: 3px 8px 6px #7b5c56;
}

.notfound-info {
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 7rem;
  font-size: 35px;
}

